{% extends "base.html" %}
{% block content %}

<!--Header 2 Wrap End-->
    <!--Inner Banner Start-->
    <div class="innner_banner">
        <div class="container">
            <h3>404 Error Page</h3>
            <ul class="breadcrumb">
                <li><a href="{{ url_for('home.index') }}">Home</a></li>
                <li><a href="{{ url_for('home.index') }}">主页</a></li>
                <li class="active"><span>抱歉您访问的页面不存在</span></li>
            </ul>
        </div>
    </div>
    <!--Inner Banner End-->
    <div class="kode_content_wrap">
        <section class="kf_404page">
            <div class="container">
                <div class="kf_404_thumb">
                    <h4>4<span>0</span>4</h4>
                    <h5>Error</h5>
                </div>
                <div class="kf_404_text">
                    <h5>Opps!! 您要查找的页面不存在 </h5>
                    <h6>you were looking for</h6>
                    <form>
                        <div class="input_dec input_label">
                            <input placeholder="Search" type="text">
                            <input type="button" value="搜索">
                        </div>
                    </form>
                    <div class="clear"></div>
                    <a class="btn-1" href="{{ url_for('home.index') }}">回到主页</a>
                </div>
            </div>
        </section>
    </div>
    <!--Main Content Wrap End-->

{% endblock %}