{% extends "base.html" %}
{% block content %}

    <!--Header 2 Wrap End-->
    <!--Inner Banner Start-->
    <div class="innner_banner">
        <div class="container">
            <h3>blog detail</h3>
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">blog </a></li>
                <li class="active"><span>blog detail</span></li>
            </ul>
        </div>
    </div>
    <!--Inner Banner End-->
    <div class="kode_content_wrap">
        <section class="blog_detail_wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="kf_blog_detail">
                            <!--Featured 2 Slider Start-->
                            <div class="kf_blog_detail_thumb">
                                <!--Featured 2 thumb Start-->
                                <div class="kf_featured_thumb">
                                    <figure>
                                        <img src="extra-images/feature_list_1.jpg" alt="">
                                    </figure>
                                    <div class="text_wrper">
                                        <!--thumb Footer Start-->
                                        <div class="thumb_footer">
                                            <div class="admin_thumb">
                                                <figure><img src="extra-images/admin.jpg" alt=""></figure>
                                                <h6><a href="#">Alba Smith</a></h6>
                                            </div>
                                            <ul class="blog_meta">
                                                <li>
                                                    <span><i class="fa fa-eye"></i>169</span>
                                                </li>
                                                <li>
                                                    <span class="heart"><i class="fa fa-heart-o"></i>477</span>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fa fa-comment-o"></i>09</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--thumb Footer End-->
                                        <div class="text_2">
                                            <span class="label2">Copa 2016</span>
                                            <h6><a href="#">The next macth against the</a></h6>
                                            <em class="kf_date">11 September, 2016</em>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore Lorem ipsum dolor sit amet, consetetur sadipscing elitr, </p>
                                            <p>
                                                Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor nequeu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim hasell moytrirolestie magna non lorem ipsum dolor site amet retituros est moytrirolestie venenatis lectus vestibulum
                                            </p>
                                            <!--Game Highlights thumb Start-->
                                            <div class="kf_highlight">
                                                <h5 class="kf_hd6">Game Highlights</h5>
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <div class="thumb">
                                                            <img src="extra-images/latestthumb.jpg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <div class="text">
                                                            <p>Vivamus. Sed auctor nequeu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim hasell moytrirolestie magna non lorem ipsum dolor site amet retituros est bibendum anon venenatis lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum.</p>
                                                            <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor nequeu tellus rhoncus ut eleifend nibh porttitor.</p>
                                                            <ul class="list_meta">
                                                                <li><em>Vivamus hendrerit arcu sed erat molestie vehicula.</em></li>
                                                                <li><em>sed diam nonumy eirmod tempor invidunt ut labore</em></li>
                                                                <li><em>In pellentesque faucibus vestibulum.</em></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Game Highlights thumb End-->
                                            <!--Blockquote Start-->
                                            <blockquote class="kf_blockquote">
                                                <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor nequeu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim hasell moytrirolestie magna</p>
                                            </blockquote>
                                            <!--Blockquote End-->
                                            <p class="margin-0">
                                                Lorem ipsum doirmod tempor invidunt ut labore et dolore Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                            </p>
                                        </div>
                                        <!--Tags Start-->
                                        <div class="tags_wrap">
                                            <!--Tags Start-->
                                            <ul class="kf_tags kf_tags2">
                                                <li><a href="#">Sports</a></li>
                                                <li><a href="#">Team</a></li>
                                                <li><a href="#">Champions</a></li>
                                            </ul>
                                            <!--Tags End-->
                                            <ul class="kf_social2">
                                                <li><a href="#" class="fa fa-facebook"></a></li>
                                                <li><a href="#" class="fa fa-twitter"></a></li>
                                                <li><a href="#" class="fa fa-rss"></a></li>
                                            </ul>
                                        </div>
                                        <!--Tags End-->
                                    </div>
                                </div>
                            </div>
                            <!--Featured 2 Slider End-->
                            <div class="row">
                                <div class="col-md-12">
                                    <!--Heading 1 Start-->
                                    <h6 class="kf_hd1">
                                        <span>Related Post</span>
                                    </h6>
                                    <!--Heading 1 End-->
                                </div>
                                <div class="col-md-6">
                                    <!--Featured 3 thumb Start-->
                                    <div class="kf_featured_thumb">
                                        <figure>
                                            <img src="extra-images/feature_3.jpg" alt="">
                                        </figure>
                                        <div class="text_wrper">
                                            <div class="text">
                                                <h6>Fifa world cup 2016</h6>
                                                <h2><a href="#">Italy</a> <small>VS</small><a href="#"> England</a></h2>
                                                <span>11 Sep, 2016 / Anna Smith</span>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod ut labore et dolore magna aliquyam </p>
                                                <a class="btn_2" href="#">Read More</a>
                                            </div>
                                            <div class="thumb_footer">
                                                <div class="admin_thumb">
                                                    <figure><img src="extra-images/admin.jpg" alt=""></figure>
                                                    <h6><a href="#">Alba Smith</a></h6>
                                                </div>
                                                <ul class="blog_meta">
                                                    <li>
                                                        <span><i class="fa fa-eye"></i>169</span>
                                                    </li>
                                                    <li>
                                                        <span class="heart"><i class="fa fa-heart-o"></i>477</span>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-comment-o"></i>09</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Featured 3 thumb End-->
                                </div>
                                <div class="col-md-6">
                                    <!--Featured 3 thumb Start-->
                                    <div class="kf_featured_thumb">
                                        <figure>
                                            <img src="extra-images/feature_4.jpg" alt="">
                                        </figure>
                                        <div class="text_wrper">
                                            <div class="text">
                                                <h6>Fifa world cup 2016</h6>
                                                <h2><a href="#">Italy</a> <small>VS</small><a href="#"> England</a></h2>
                                                <span>11 Sep, 2016 / Anna Smith</span>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod ut labore et dolore magna aliquyam </p>
                                                <a class="btn_2" href="#">Read More</a>
                                            </div>
                                            <div class="thumb_footer">
                                                <div class="admin_thumb">
                                                    <figure><img src="extra-images/admin.jpg" alt=""></figure>
                                                    <h6><a href="#">Alba Smith</a></h6>
                                                </div>
                                                <ul class="blog_meta">
                                                    <li>
                                                        <span><i class="fa fa-eye"></i>169</span>
                                                    </li>
                                                    <li>
                                                        <span class="heart"><i class="fa fa-heart-o"></i>477</span>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-comment-o"></i>09</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Featured 3 thumb End-->
                                </div>
                            </div>
                            <!--Comment Wrap Start-->
                            <div class="comment_wrap">
                                <!--Heading 1 Start-->
                                <h6 class="kf_hd1">
                                    <span>Comments</span>
                                </h6>
                                <!--Heading 1 End-->
                                <!--Comment Form Start-->
                                <ul class="comment_form">
                                    <li>
                                        <!--Comment Dec Form Start-->
                                        <div class="comment_dec">
                                            <figure><img src="extra-images/commeent1.jpg" alt=""></figure>
                                            <div class="text">
                                                <div class="comment_hd">
                                                    <h5><a href="#">STEVE ANDERS</a></h5>
                                                    <ul>
                                                        <li><span><i class="fa fa-user"></i>Posted April 19, 2016</span></li>
                                                        <li><span><i class="fa fa-clock-o"></i>7:30 p.m</span></li>
                                                        <li><a href="#"><i class="fa fa-mail-reply"></i>Reply</a></li>
                                                    </ul>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.</p>
                                            </div>
                                        </div>
                                        <!--Comment Dec Form End-->
                                        <ul>
                                            <li>
                                                <!--Comment Dec Form Start-->
                                                <div class="comment_dec">
                                                    <figure><img src="extra-images/commeent2.jpg" alt=""></figure>
                                                    <div class="text">
                                                        <div class="comment_hd">
                                                            <h5><a href="#">STEVE ANDERS</a></h5>
                                                            <ul>
                                                                <li><span><i class="fa fa-user"></i>Posted April 19, 2016</span></li>
                                                                <li><span><i class="fa fa-clock-o"></i>7:30 p.m</span></li>
                                                                <li><a href="#"><i class="fa fa-mail-reply"></i>Reply</a></li>
                                                            </ul>
                                                        </div>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.</p>
                                                    </div>
                                                </div>
                                                <!--Comment Dec Form End-->
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <!--Comment Dec Form Start-->
                                        <div class="comment_dec">
                                            <figure><img src="extra-images/commeent3.jpg" alt=""></figure>
                                            <div class="text">
                                                <div class="comment_hd">
                                                    <h5><a href="#">STEVE ANDERS</a></h5>
                                                    <ul>
                                                        <li><span><i class="fa fa-user"></i>Posted April 19, 2016</span></li>
                                                        <li><span><i class="fa fa-clock-o"></i>7:30 p.m</span></li>
                                                        <li><a href="#"><i class="fa fa-mail-reply"></i>Reply</a></li>
                                                    </ul>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.</p>
                                            </div>
                                        </div>
                                        <!--Comment Dec Form End-->
                                    </li>
                                </ul>
                                <!--Comment Form End-->
                            </div>
                            <!--Comment Wrap End-->
                            <!--Comment Input Form Wrap Start-->
                            <div class="comment_input_wrap">
                                <!--Heading 1 Start-->
                                <h6 class="kf_hd1">
                                    <span>Add Your Comment</span>
                                </h6>
                                <!--Heading 1 End-->
                                <form>
                                    <div class="input_textarea">
                                        <textarea placeholder="Your Comment">

                                        </textarea>
                                    </div>
                                    <div class="input_dec_divider">
                                        <div class="input_dec">
                                            <input placeholder="Your Name" type="text">
                                        </div>
                                        <div class="input_dec">
                                            <input placeholder="Your Email" type="text">
                                        </div>
                                    </div>
                                    <input class="input-btn" type="button" value="Post comment">
                                </form>
                            </div>
                            <!--Comment Input Form Wrap End-->
                        </div>
                    </div>
                    <aside class="col-md-4">
                        <!--Widget Ranking Start-->
                        <div class="widget widget_recentnews">
                            <!--Heading 1 Start-->
                            <h6 class="kf_hd1">
                                <span>Recent News</span>
                            </h6>
                            <!--Heading 1 END-->
                            <div class="kf_border">
                                <!--Recent News Start-->
                                <div class="kf_recentnews">
                                    <figure>
                                        <a href="#"><img src="extra-images/recent_1.jpg" alt=""></a>
                                    </figure>
                                    <div class="text">
                                        <h6><a href="#">Recent News Heading</a></h6>
                                        <p>The Arch Rivals have two major Victories</p>
                                        <em class="kf_date">August 23rd, 2016</em>
                                    </div>
                                </div>
                                <!--Recent News End-->
                                <!--Recent News Start-->
                                <div class="kf_recentnews">
                                    <figure>
                                        <a href="#"><img src="extra-images/recent_2.jpg" alt=""></a>
                                    </figure>
                                    <div class="text">
                                        <h6><a href="#">Recent News Heading</a></h6>
                                        <p>The Arch Rivals have two major Victories</p>
                                        <em class="kf_date">August 23rd, 2016</em>
                                    </div>
                                </div>
                                <!--Recent News End-->
                                <!--Recent News Start-->
                                <div class="kf_recentnews">
                                    <figure>
                                        <a href="#"><img src="extra-images/recent_3.jpg" alt=""></a>
                                    </figure>
                                    <div class="text">
                                        <h6><a href="#">Recent News Heading</a></h6>
                                        <p>The Arch Rivals have two major Victories</p>
                                        <em class="kf_date">August 23rd, 2016</em>
                                    </div>
                                </div>
                                <!--Recent News End-->
                                <!--Recent News Start-->
                                <div class="kf_recentnews">
                                    <figure>
                                        <a href="#"><img src="extra-images/recent_4.jpg" alt=""></a>
                                    </figure>
                                    <div class="text">
                                        <h6><a href="#">Recent News Heading</a></h6>
                                        <p>The Arch Rivals have two major Victories</p>
                                        <em class="kf_date">August 23rd, 2016</em>
                                    </div>
                                </div>
                                <!--Recent News End-->
                            </div>
                        </div>
                        <!--Widget Next Match Start-->
                        <div class="widget widget_nextmatch">
                            <!--Heading 1 Start-->
                            <h6 class="kf_hd1">
                                <span>Next Match</span>
                            </h6>
                            <!--Heading 1 END-->
                            <div class="kf_border">
                                <!--Widget Next Match Dec Start-->
                                <div class="nextmatch_dec">
                                    <h6>Laliga Semi Finals at city stadium</h6>
                                    <span>Friday, 10th Sep, 2016, 16:00GMT</span>
                                    <div class="match_teams">
                                        <div class="pull-left">
                                            <a href="#"><img src="images/team_logo11.png" alt=""></a>
                                        </div>
                                        <span>vs</span>
                                        <div class="pull-right">
                                            <a href="#"><img src="images/team_logo12.png" alt=""></a>
                                        </div>
                                    </div>
                                    <a class="input-btn" href="#">Buy Tickets Now</a>
                                    <h5>Starting in</h5>
                                    <!--Widget COUNT Down Start-->
                                    <ul class="kf_countdown countdown">
                                        <li>
                                            <span class="days">69</span>
                                            <p class="days_ref">days</p>
                                        </li>
                                        <li>
                                            <span class="hours">13</span>
                                            <p class="hours_ref">hours</p>
                                        </li>
                                        <li>
                                            <span class="minutes">44</span>
                                            <p class="minutes_ref">mins</p>
                                        </li>
                                        <li>
                                            <span class="seconds last">12</span>
                                            <p class="seconds_ref">secs</p>
                                        </li>
                                    </ul>
                                    <!--Widget COUNT Down End-->
                                </div>
                                <!--Widget Next Match Dec End-->
                            </div>
                        </div>
                        <!--Widget Next Match End-->
                        <!--Widget NewsLatter Start-->
                        <div class="widget widget_newsletter">
                            <!--Heading 1 Start-->
                            <h6 class="kf_hd1">
                                <span>Newsletters</span>
                            </h6>
                            <!--Heading 1 END-->
                            <div class="kf_border">
                                <div class="newsletter_dec">
                                    <h6>Subcribe Now!</h6>
                                    <p>Lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor </p>
                                    <!--Input Dec Start-->
                                    <div class="input_dec">
                                        <input type="text" placeholder="Your Name">
                                    </div>
                                    <!--Input Dec END-->
                                    <!--Input Dec Start-->
                                    <div class="input_dec">
                                        <input type="text" placeholder="Your E-mail ID">
                                    </div>
                                    <!--Input Dec END-->
                                    <!--Radio Wrap Start-->
                                    <div class="radio_style2">
                                        <label class="radio_dec">
                                            <span class="radio">
                                                <input name="foo1" value="1" checked="" type="radio">
                                                <span class="radio-value" aria-hidden="true"></span>
                                            </span>
                                            <span>Daily</span>
                                        </label>
                                        <label class="radio_dec">
                                            <span class="radio">
                                                <input name="foo1" value="1" type="radio">
                                                <span class="radio-value" aria-hidden="true"></span>
                                            </span>
                                            <span>Weekly</span>
                                        </label>
                                        <label class="radio_dec">
                                            <span class="radio">
                                                <input name="foo1" value="1" type="radio">
                                                <span class="radio-value" aria-hidden="true"></span>
                                            </span>
                                            <span>Monthly</span>
                                        </label>
                                    </div>
                                    <!--Radio Wrap End-->
                                    <input class="input-btn" type="button" value="Subscribe">
                                    <em>100% No spam! We have promised to Our Mother...</em>
                                </div>
                            </div>
                        </div>
                        <!--Widget NewsLatter End-->
                        <!--Widget poll Start-->
                        <div class="widget widget_poll">
                            <!--Heading 1 Start-->
                            <h6 class="kf_hd1">
                                <span>Soccer Poll</span>
                            </h6>
                            <!--Heading 1 END-->
                            <!--Pool Wrap Start-->
                            <div class="kf_poll_dec">
                                <h6>Who will be the best winnter of golden league</h6>
                                <!--Radio Wrap Start-->
                                <div class="radio_style1">
                                    <label class="radio_dec">
                                        <span class="radio">
                                            <input name="foo" value="1" checked="" type="radio">
                                            <span class="radio-value" aria-hidden="true"></span>
                                        </span>
                                        <span>Leonal Messi</span>
                                    </label>
                                    <label class="radio_dec">
                                        <span class="radio">
                                            <input name="foo" value="1" type="radio">
                                            <span class="radio-value" aria-hidden="true"></span>
                                        </span>
                                        <span>hristiano Ronaldo</span>
                                    </label>
                                    <label class="radio_dec">
                                        <span class="radio">
                                            <input name="foo" value="1" type="radio">
                                            <span class="radio-value" aria-hidden="true"></span>
                                        </span>
                                        <span>Van Ronnie</span>
                                    </label>
                                </div>
                                <!--Radio Wrap End-->
                                <input class="input-btn" type="button" value="submit">
                            </div>
                            <!--Pool Wrap End-->
                        </div>
                        <!--Widget poll End-->
                        <div class="widget widget_social">
                            <a class="facebook" href="#">
                                <i class="fa fa-facebook"></i>
                                <span>Like Page</span>
                                <em>3265 Likes</em>
                            </a>
                            <a class="twitter" href="#">
                                <i class="fa fa-twitter"></i>
                                <span>Follow us</span>
                                <em>3265 Likes</em>
                            </a>
                            <a class="rss" href="#">
                                <i class="fa fa-rss"></i>
                                <span>Subscribe</span>
                                <em>3265 Likes</em>
                            </a>
                        </div>
                        <!--Widget Add 2 Strat-->
                        <div class="widget widget_add">
                            <div class="add_banner">
                                <a href="#"><img src="extra-images/add_banner2.jpg" alt=""></a>
                            </div>
                        </div>
                        <!--Widget Add 2 End-->
                    </aside>
                </div>
            </div>
        </section>
    </div>
    <!--Main Content Wrap End-->

{% endblock %}