{% extends "common.html" %}
{% block header %}
<div class="kode_wrapper">
    <div class="kf_comingsoon_wrap">
        <div class="kf_comingsoon">
            <h4>即将来到</h4>
            <div class="clear"></div>
            <!--Widget COUNT Down Start-->
            <ul class="kf_countdown2 countdown">
                <li>
                    <span class="days">69</span>
                    <p class="days_ref">days</p>
                </li>
                <li>
                    <span class="hours">13</span>
                    <p class="hours_ref">hours</p>
                </li>
                <li>
                    <span class="minutes">44</span>
                    <p class="minutes_ref">mins</p>
                </li>
                <li>
                    <span class="seconds last">12</span>
                    <p class="seconds_ref">secs</p>
                </li>
            </ul>
            <!--Widget COUNT Down End-->
            <h5>获取连接</h5>
            <div class="clear"></div>
            <ul class="kf_social2">
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <li><a href="#" class="fa fa-dribbble"></a></li>
                <li><a href="#" class="fa fa-google-plus"></a></li>
                <li><a href="#" class="fa fa-behance"></a></li>
            </ul>
            <div class="clear"></div>
            <form>
                <div class="input_dec input_label">
                    <input placeholder="Enter Your Email Here" type="text">
                    <input value="&#10132;" type="button">
                </div>
            </form>
            <p class="copy_right2">Copyright © 2020 <a href="#">环球体育</a> </p>
        </div>
    </div>
</div>
{% endblock %}

