<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='js/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='js/pcboyin.css') }}">
    <!--    <link rel="stylesheet" media='screen and (max-width: 450px) and (max-width: 380px)' href="js/webboying.css"/>-->
    <!--    <link rel="stylesheet" media='screen and (min-width: 500px) and (max-width: 700px)' href="js/pcboying.css"/>-->
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/col_cha.js') }}"></script>
    <script src="{{ url_for('static',filename='js/tg.js') }}"></script>
    <script src="{{ url_for('static',filename='js/tanchuang.js') }}"></script>
    <title>懂球弟推荐</title>
</head>
<body style="position: relative;">
<div class="banner">
    <div class="top_fix">
        <span>懂球弟，首单包赔</span>
    </div>
    <!-- bannerB -->
    <div class="banner">
        <div class="banner_bigpic">
        </div>
        <div class="w">
            <div class="point_sele ps">
                <a href="{{ url_for('home.index') }}" class="a_1 sel_a">今日免费推荐</a>
                <span>|</span>
                <a href="{{ url_for('home.record') }}" class="a_2">历史战绩</a>
                <span>|</span>
                <a href="{{ url_for('home.knowledge') }}" class="a_2">足彩知识</a>
            </div>
            <div class="advertise">
                <img src="{{ url_for('static',filename='images/01.gif') }}" alt="">
            </div>
            <div class="advertise2">
                <img src="{{ url_for('static',filename='images/929ee7c0da.png') }}">
            </div>
        </div>
    </div>
    <!-- bannerE（信息） -->
    <div class="ymnr">
        <div class="ynne">
            <div class="zqtj">
                <div class="zqtj_t">
                    <div class="w">
                        <img src="{{ url_for('static',filename='images/title-1.png') }}">
                        <div class="w_span">
                            <div class="w_span_le">每日亚盘免费</div>
                            <div class="clearfloat"></div>
                        </div>
                        <div class="clearfloat"></div>
                    </div>

                    <div class="clearfloat"></div>
                </div>
                <div class="zqtj_c">
                    <div class="w">
                        <!-- 广告-->
                        <div style="margin-bottom:-32px;">
                            <!--                        <img src="images/bottom.jpg">--><br><br><br>
                        </div>
                        <!--                    足球-->
                        <div class="zqtjc_m">

                            {% for football_match in football_matchs %}

                            <table cellpadding="0" cellspacing="0">

                                <tr>
                                    <td colspan="9" class="hbdyg" style="color:red;font-weight:bold;">
                                        <span>添加专家微信: <em><script>document.write(stxlwx);</script></em>  获取比赛内幕比分，您敢来，我敢送！ 精准赛事场场重注 承诺永不收费</span>
                                    </td>
                                </tr>
                                 <tr>
                                    <td style="width:17%;">日期</td>
                                    <td style="width:24%;">球队主场</td>
                                    <td style="width:8%;">VS</td>
                                    <td style="width:20%;">球队客场</td>
                                    <td style="width:10%;">比分</td>
                                    <td style="width:21%;">开盘时间</td>
                                </tr>
                                 <tr>
                                    <td>{{ football_match.LEAGUE_NAME_SIMPLY }}:{{ football_match.LEAGUE_DATA }}<br></td>
                                    <td>{{ football_match.H0ST_TEAM_NAME }}</td>
                                    <td>VS</td>
                                    <td>{{ football_match.GUEST_TEAM_NAME }}</td>
                                    <td>?:?</td>
                                    <td>{{ football_match.MATCH_TIME }}</td>

                                </tr>

                                <tr>
                                 <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td style="width:10%;">公司</td>
                                        <td style="width:9%;">主队</td>
                                        <td style="width:9%;">让球</td>
                                        <td style="width:9%;">客队</td>
                                        <td style="width:9%;">主胜</td>
                                        <td style="width:9%;">和局</td>
                                        <td style="width:9%;">客胜</td>
                                        <td style="width:9%;">大球</td>
                                        <td style="width:9%;">盘口</td>
                                        <td style="width:9%;">小球</td>
                                        <td style="width:9%;">分析</td>
                                        <!--td style="width:103px;">下注实单</td-->
                                    </tr>
                                        {% for company in companys %}
                                         {% if football_match.football_match_id == company.match_id%}
                                           <tr>

                                            <td>{{ company.COMPANY_NAME or '' }}</td>
                                            <td>{{ company.HOST or '' }}</td>
                                            <td>{{ company.HANDICAP or '' }}</td>
                                            <td>{{ company.GUEST or '' }}</td>
                                            <td>{{ company.WIN or '' }}</td>
                                            <td>{{ company.SAME or '' }}</td>
                                            <td>{{ company.LOST or '' }}</td>
                                            <td>{{ company.BIG or '' }}</td>
                                            <td>{{ company.DW_HANDICAP or '' }}</td>
                                            <td>{{ company.SMALL or '' }}</td>
                                            <td>
                                                <a href="weixin://" onclick="copyText()"><img src="{{ url_for('static',filename='images/37bf888af1.png') }}" class="mftj"></a>
                                            </td>
                                          </tr>
                                         {% endif %}
                                        {% endfor %}
                                    </table>
                                </tr>
                            </table>
                         {% endfor %}
                        </div>
                        <div style="margin-top:-21px;">
                        </div>
                    </div>
                </div>
            </div>


            <!-- 篮球推荐B -->
{#            <div class="zqtj">#}
{#                <div class="zqtj_t">#}
{#                    <div class="w">#}
{#                        <img src="{{ url_for('static',filename='images/title-2.png') }}">#}
{#                        <div class="w_span">#}
{#                            <div class="w_span_le">每日亚盘免费</div>#}
{#                            <div class="clearfloat"></div>#}
{#                        </div>#}
{#                        <div class="clearfloat"></div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="zqtj_c">#}
{#                    <div class="w">#}
{#                        <div style="margin-bottom:-32px;">#}
{#                            <!-- <img src="http://dgq2020.com/statics/images/bg1_table.png"> --><br><br><br>#}
{#                        </div>#}
{#                        <div class="zqtjc_m">#}
{#                            <table cellpadding="0" cellspacing="0">#}
{#                                <tr>#}
{#                                    <td style="width:17%;">开盘时间</td>#}
{#                                    <td style="width:24%;">上盘/下盘球队</td>#}
{#                                    <td style="width:8%;">盘口</td>#}
{#                                    <td style="width:20%;">免费推荐</td>#}
{#                                    <td style="width:10%;">比分</td>#}
{#                                    <td style="width:8%;">结果</td>#}
{#                                    <td style="width:13%;">分析</td>#}
{#                                    <!--td style="width:103px;">下注实单</td-->#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>NBA 01-08 08:30</td>#}
{#                                    <td>#}
{#                                        <span>俄克拉荷马城雷霆</span>#}
{#                                        <span>布鲁克林篮网</span>#}
{#                                    </td>#}
{#                                    <td>2.5</td>#}
{#                                    <td>添加微信取料：<span><script>document.write(stxlwx);</script></span></td>#}
{#                                    <td>?:?</td>#}
{#                                    <td class="fzred">待</td>#}
{#                                    <td><a href="weixin://" onclick="copyText()"><img src="{{ url_for('static',filename='images/37bf888af1.png') }}" class="mftj"></a>#}
{#                                    </td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>NBA 01-08 08:00</td>#}
{#                                    <td>#}
{#                                        <span>底特律活塞</span>#}
{#                                        <span>克里夫兰骑士</span>#}
{#                                    </td>#}
{#                                    <td>3.5</td>#}
{#                                    <td>添加微信取料：<span><script>document.write(stxlwx);</script></span></td>#}
{#                                    <td>?:?</td>#}
{#                                    <td class="fzred">待</td>#}
{#                                    <td><a href="weixin://" onclick="copyText()"><img src="{{ url_for('static',filename='images/37bf888af1.png') }}" class="mftj"></a></td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>NBA 01-07 08:00</td>#}
{#                                    <td>#}
{#                                        <span>费城76人</span>#}
{#                                        <span>俄克拉荷马城雷霆</span>#}
{#                                    </td>#}
{#                                    <td>7.5</td>#}
{#                                    <td>俄克拉荷马城雷霆</td>#}
{#                                    <td>120:113</td>#}
{#                                    <td class="fzred">赢</td>#}
{#                                    <td><a href="weixin://" onclick="copyText()"><img src="{{ url_for('static',filename='images/37bf888af1.png') }}" class="mftj"></a>#}
{#                                    </td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>NBA 01-07 09:00</td>#}
{#                                    <td>#}
{#                                        <span>犹他爵士</span>#}
{#                                        <span>新奥尔良鹈鹕</span>#}
{#                                    </td>#}
{#                                    <td>2.5</td>#}
{#                                    <td>新奥尔良鹈鹕</td>#}
{#                                    <td>128:126</td>#}
{#                                    <td class="fzred">赢</td>#}
{#                                    <td><a href="weixin://" onclick="copyText()"><img src="{{ url_for('static',filename='images/37bf888af1.png') }}" class="mftj"></a></td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>NBA 01-06 07:00</td>#}
{#                                    <td>#}
{#                                        <span>迈阿密热火</span>#}
{#                                        <span>波特兰开拓者</span>#}
{#                                    </td>#}
{#                                    <td>5.5</td>#}
{#                                    <td>迈阿密热火</td>#}
{#                                    <td>122:111</td>#}
{#                                    <td class="fzred">赢</td>#}
{#                                    <td><a href="weixin://" onclick="copyText()"><img src="{{ url_for('static',filename='images/37bf888af1.png') }}" class="mftj"></a>#}
{#                                    </td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td colspan="9" class="hbdyg" style="color:red;font-weight:bold;">#}
{#                                        <span>添加专家微信: <em><script>document.write(stxlwx);</script></em> 获取比赛内幕比分，您敢来，我敢送！ 精准赛事场场重注 承诺永不收费</span>#}
{#                                    </td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>NBA 01-06 09:00</td>#}
{#                                    <td>#}
{#                                        <span>菲尼克斯太阳</span>#}
{#                                        <span>迈阿密热火</span>#}
{#                                    </td>#}
{#                                    <td>6.5</td>#}
{#                                    <td>迈阿密热火</td>#}
{#                                    <td>114:121</td>#}
{#                                    <td class="fzred">赢</td>#}
{#                                    <td><a href="weixin://" onclick="copyText()"><img src="{{ url_for('static',filename='images/37bf888af1.png') }}" class="mftj"></a></td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>NBA 01-05 08：30</td>#}
{#                                    <td>#}
{#                                        <span>俄克拉荷马城雷霆</span>#}
{#                                        <span>克里夫兰骑士</span>#}
{#                                    </td>#}
{#                                    <td>6.5</td>#}
{#                                    <td>俄克拉荷马城雷霆</td>#}
{#                                    <td>121:106</td>#}
{#                                    <td class="fzred">赢</td>#}
{#                                    <td><a href="weixin://" onclick="copyText()"><img src="{{ url_for('static',filename='images/37bf888af1.png') }}" class="mftj"></a></td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>NBA 01-05 07:00</td>#}
{#                                    <td>#}
{#                                        <span>布鲁克林篮网</span>#}
{#                                        <span>多伦多猛龙</span>#}
{#                                    </td>#}
{#                                    <td>1.5</td>#}
{#                                    <td>多伦多猛龙</td>#}
{#                                    <td>102:121</td>#}
{#                                    <td class="fzred">赢</td>#}
{#                                    <td><a href="weixin://" onclick="copyText()"><img src="{{ url_for('static',filename='images/37bf888af1.png') }}" class="mftj"></a></td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>NBA 01-04 11：30</td>#}
{#                                    <td>#}
{#                                        <span>洛杉矶湖人</span>#}
{#                                        <span>新奥尔良鹈鹕</span>#}
{#                                    </td>#}
{#                                    <td>10.5</td>#}
{#                                    <td>洛杉矶湖人</td>#}
{#                                    <td>123:113</td>#}
{#                                    <td class="fzred">输</td>#}
{#                                    <td><a href="weixin://" onclick="copyText()"><img src="{{ url_for('static',filename='images/37bf888af1.png') }}" class="mftj"></a>#}
{#                                    </td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>NBA 01-03 09:00</td>#}
{#                                    <td>#}
{#                                        <span>犹他爵士</span>#}
{#                                        <span>芝加哥公牛</span>#}
{#                                    </td>#}
{#                                    <td>3.5</td>#}
{#                                    <td>犹他爵士</td>#}
{#                                    <td>102:98</td>#}
{#                                    <td class="fzred">赢</td>#}
{#                                    <td><a href="weixin://" onclick="copyText()"><img src="{{ url_for('static',filename='images/37bf888af1.png') }}" class="mftj"></a>#}
{#                                    </td>#}
{#                                </tr>#}
{#                            </table>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="zqtj_b">#}
{#                    <div class="w">#}
{#                        <a target="_blank" href="{{ url_for('home.knowledge') }}" class="lsjl">#}
{#                            <!--                         <img src="images/lsjl.jpg">-->#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}


            <!-- 侧边悬浮 -->
            <div class="wei1 b_wei">
                <!--左固定-->
                <div class="wxBoxR" href="weixin://" onclick="copyText()">
                    <a style="color: white;font-weight: bold">点击复制微信号</a>
{#                    <script>document.write('<img src="images/' + stxlwx + '.jpg" alt="">')</script>#}
                    <script>document.write('<img src="{{ url_for('static',filename='images/guanren4214.jpg') }} " alt="">')</script>
                </div>
                <a href="javascript:;" class="del_btn"><img src="{{ url_for('static',filename='images/close_pc.png') }}"></a>
            </div>
            <div class="wei2 b_wei">
                <!--左固定-->
                <div class="wxBoxR" href="weixin://" onclick="copyText()">
                    <a style="color: white;font-weight: bold">点击复制微信号</a>
                    <script>document.write('<img src="{{ url_for('static',filename='images/guanren4214.jpg') }} " alt="">')</script>
                </div>
                <a href="javascript:;" class="del_btn"><img src="{{ url_for('static',filename='images/close_pc.png') }}"></a>
            </div>
            <!--        APP下载弹窗-->
            <div id="aa">
                <div id="bb">
                    <div id="cc">
                        <a href="javascript:;" style="text-decoration: none" title="关闭" class="del_btn2"><img border="0" src="{{ url_for('static',filename='images/close.png') }}"></a>
                    </div>
                    <div align="left" id="gg"><b><font color="#FFFFFF" face="宋体" size="2">用手机下载「環球體育」APP,关注本站</font></b>
                    </div>
                    <div align="left" id="gg1"><b><font color="#FFFFFF" face="宋体" size="2">记住:要用手机自带浏览器下载哦！</font></b>
                    </div>
                    <div id="dd">
                        <a target="_blank" href="https://699ak.com/" style="text-decoration: none"><font
                                color="#FFFFFF">下载APP</font></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- 底部广告 -->
    <div class="footer">
        <div class="w">
            <div class="footer_wz">
                <img src="{{ url_for('static',filename='images/bottom.jpg') }}" alt="">
            </div>
        </div>
    </div>
    <!--底部固定-->
    <div class="point_seleto">
        <div class="point_sele">
            <a href="{{ url_for('home.index') }}">
                <div class="nav_tp nav_fi">
                    <img src="{{ url_for('static',filename='images/bottom.jpg') }}" alt="">
                </div>
                <span>今日免费推荐</span>
            </a>
            <a href="{{ url_for('home.record') }}">
                <div class="nav_tp nav_se">
                    <img src="{{ url_for('static',filename='images/history.png') }}" alt="">
                </div>
                <span>历史战绩</span>
            </a>
            <a href="{{ url_for('home.knowledge') }}">
                <div class="nav_tp nav_th">
                    <img src="{{ url_for('static',filename='images/zhishi.png') }}" alt="">
                </div>
                <span>足彩知识</span></a>
        </div>
    </div>
</div>
</body>
<div style="display:none">
    <script type="text/javascript" src="https://s9.cnzz.com/z_stat.php?id=1278525830&web_id=1278525830"></script>
</div>
</html>
