{% extends "base.html" %}
{% block content %}
    <!--Inner Banner Start-->
    <div class="innner_banner">
        <div class="container">
            <h3>team schedule</h3>
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">The team</a></li>
                <li class="active"><span>team schedule</span></li>
            </ul>
        </div>
    </div>
    <!--Inner Banner End-->
    <div class="kode_content_wrap">
        <section class="team_schedule_page">
            <div class="container">
                <!--Overview Contant Start-->
                <div class="kf_overview_contant">
                    <!--Heading 1 Start-->
                    <h6 class="kf_hd1 margin_0">
                        <span>Schedule and tickets</span>
                    </h6>
                    <!--Heading 1 End-->
                    <!--Table 2 Start-->
                    <ul class="kf_table2">
                        <li class="table_head">
                            <div class="tb2_date">
                                <span>Date</span>
                            </div>
                            <div class="versus">
                                <span>versus</span>
                            </div>
                            <div class="tb2_status">
                                <span>status</span>
                            </div>
                            <div class="tb2_time">
                                <span>Time</span>
                            </div>
                            <div class="tb2_comatition">
                                <span>Compatition</span>
                            </div>
                            <div class="tb2_comatition">
                                <span>Vanu</span>
                            </div>
                            <div class="tb2_ticket">
                                <span>Tickets</span>
                            </div>
                        </li>
                        <li>
                            <div class="tb2_date">
                                <span>Friday, March 16</span>
                            </div>
                            <div class="versus">
                                <div>
                                    <span><img src="images/team_logo.png" alt=""></span>
                                    <p>
                                        <a href="#">Ocean Kings</a>
                                        <span>Marine Collage</span>
                                    </p>
                                </div>
                            </div>
                            <div class="tb2_status">
                                <span>Home</span>
                            </div>
                            <div class="tb2_time">
                                <span>9:00PM EST</span>
                            </div>
                            <div class="tb2_comatition">
                                <span>West Bay Playoffs 2016</span>
                            </div>
                            <div class="tb2_comatition">
                                <span>Madison Cube Stadium</span>
                            </div>
                            <div class="tb2_ticket">
                                <a href="#" class="input-btn ">Buy Game Ticket</a>
                            </div>
                        </li>
                        <li>
                            <div class="tb2_date">
                                <span>Friday, March 16</span>
                            </div>
                            <div class="versus">
                                <div>
                                    <span><img src="images/team_logo2.png" alt=""></span>
                                    <p>
                                        <a href="#">Sharks</a>
                                        <span>Babop Institute</span>
                                    </p>
                                </div>
                            </div>
                            <div class="tb2_status">
                                <span>Home</span>
                            </div>
                            <div class="tb2_time">
                                <span>9:00PM EST</span>
                            </div>
                            <div class="tb2_comatition">
                                <span>West Bay Playoffs 2016</span>
                            </div>
                            <div class="tb2_comatition">
                                <span>Madison Cube Stadium</span>
                            </div>
                            <div class="tb2_ticket">
                                <a href="#" class="input-btn ">Buy Game Ticket</a>
                            </div>
                        </li>
                        <li>
                            <div class="tb2_date">
                                <span>Friday, March 16</span>
                            </div>
                            <div class="versus">
                                <div>
                                    <span><img src="images/team_logo3.png" alt=""></span>
                                    <p>
                                        <a href="#">Ocean Kings</a>
                                        <span>Babop Institute</span>
                                    </p>
                                </div>
                            </div>
                            <div class="tb2_status">
                                <span>Home</span>
                            </div>
                            <div class="tb2_time">
                                <span>9:00PM EST</span>
                            </div>
                            <div class="tb2_comatition">
                                <span>West Bay Playoffs 2016</span>
                            </div>
                            <div class="tb2_comatition">
                                <span>Madison Cube Stadium</span>
                            </div>
                            <div class="tb2_ticket">
                                <a href="#" class="input-btn inactive">Sold out</a>
                            </div>
                        </li>
                        <li>
                            <div class="tb2_date">
                                <span>Friday, March 16</span>
                            </div>
                            <div class="versus">
                                <div>
                                    <span><img src="images/team_logo4.png" alt=""></span>
                                    <p>
                                        <a href="#">LA Pirates</a>
                                        <span>Babop Institute</span>
                                    </p>
                                </div>
                            </div>
                            <div class="tb2_status">
                                <span>Home</span>
                            </div>
                            <div class="tb2_time">
                                <span>9:00PM EST</span>
                            </div>
                            <div class="tb2_comatition">
                                <span>West Bay Playoffs 2016</span>
                            </div>
                            <div class="tb2_comatition">
                                <span>Madison Cube Stadium</span>
                            </div>
                            <div class="tb2_ticket">
                                <a href="#" class="input-btn inactive">Sold out</a>
                            </div>
                        </li>
                        <li>
                            <div class="tb2_date">
                                <span>Friday, March 16</span>
                            </div>
                            <div class="versus">
                                <div>
                                    <span><img src="images/team_logo5.png" alt=""></span>
                                    <p>
                                        <a href="#">Sharks</a>
                                        <span>Babop Institute</span>
                                    </p>
                                </div>
                            </div>
                            <div class="tb2_status">
                                <span>Home</span>
                            </div>
                            <div class="tb2_time">
                                <span>9:00PM EST</span>
                            </div>
                            <div class="tb2_comatition">
                                <span>West Bay Playoffs 2016</span>
                            </div>
                            <div class="tb2_comatition">
                                <span>Madison Cube Stadium</span>
                            </div>
                            <div class="tb2_ticket">
                                <a href="#" class="input-btn ">Buy Game Ticket</a>
                            </div>
                        </li>
                        <li>
                            <div class="tb2_date">
                                <span>Friday, March 16</span>
                            </div>
                            <div class="versus">
                                <div>
                                    <span><img src="images/team_logo6.png" alt=""></span>
                                    <p>
                                        <a href="#">Ocean Kings</a>
                                        <span>Babop Institute</span>
                                    </p>
                                </div>
                            </div>
                            <div class="tb2_status">
                                <span>Home</span>
                            </div>
                            <div class="tb2_time">
                                <span>9:00PM EST</span>
                            </div>
                            <div class="tb2_comatition">
                                <span>West Bay Playoffs 2016</span>
                            </div>
                            <div class="tb2_comatition">
                                <span>Madison Cube Stadium</span>
                            </div>
                            <div class="tb2_ticket">
                                <a href="#" class="input-btn inactive">Sold out</a>
                            </div>
                        </li>
                        <li>
                            <div class="tb2_date">
                                <span>Friday, March 16</span>
                            </div>
                            <div class="versus">
                                <div>
                                    <span><img src="images/team_logo7.png" alt=""></span>
                                    <p>
                                        <a href="#">Ocean Kings</a>
                                        <span>Babop Institute</span>
                                    </p>
                                </div>
                            </div>
                            <div class="tb2_status">
                                <span>Home</span>
                            </div>
                            <div class="tb2_time">
                                <span>9:00PM EST</span>
                            </div>
                            <div class="tb2_comatition">
                                <span>West Bay Playoffs 2016</span>
                            </div>
                            <div class="tb2_comatition">
                                <span>Madison Cube Stadium</span>
                            </div>
                            <div class="tb2_ticket">
                                <a href="#" class="input-btn ">Buy Game Ticket</a>
                            </div>
                        </li>
                        <li>
                            <div class="tb2_date">
                                <span>Friday, March 16</span>
                            </div>
                            <div class="versus">
                                <div>
                                    <span><img src="images/team_logo8.png" alt=""></span>
                                    <p>
                                        <a href="#">Ocean Kings</a>
                                        <span>Babop Institute</span>
                                    </p>
                                </div>
                            </div>
                            <div class="tb2_status">
                                <span>Home</span>
                            </div>
                            <div class="tb2_time">
                                <span>9:00PM EST</span>
                            </div>
                            <div class="tb2_comatition">
                                <span>West Bay Playoffs 2016</span>
                            </div>
                            <div class="tb2_comatition">
                                <span>Madison Cube Stadium</span>
                            </div>
                            <div class="tb2_ticket">
                                <a href="#" class="input-btn ">Buy Game Ticket</a>
                            </div>
                        </li>
                        <li>
                            <div class="tb2_date">
                                <span>Friday, March 16</span>
                            </div>
                            <div class="versus">
                                <div>
                                    <span><img src="images/team_logo9.png" alt=""></span>
                                    <p>
                                        <a href="#">Ocean Kings</a>
                                        <span>Babop Institute</span>
                                    </p>
                                </div>
                            </div>
                            <div class="tb2_status">
                                <span>Home</span>
                            </div>
                            <div class="tb2_time">
                                <span>9:00PM EST</span>
                            </div>
                            <div class="tb2_comatition">
                                <span>West Bay Playoffs 2016</span>
                            </div>
                            <div class="tb2_comatition">
                                <span>Madison Cube Stadium</span>
                            </div>
                            <div class="tb2_ticket">
                                <a href="#" class="input-btn inactive">Sold out</a>
                            </div>
                        </li>
                        <li>
                            <div class="tb2_date">
                                <span>Friday, March 16</span>
                            </div>
                            <div class="versus">
                                <div>
                                    <span><img src="images/team_logo10.png" alt=""></span>
                                    <p>
                                        <a href="#">Ocean Kings</a>
                                        <span>Babop Institute</span>
                                    </p>
                                </div>
                            </div>
                            <div class="tb2_status">
                                <span>Home</span>
                            </div>
                            <div class="tb2_time">
                                <span>9:00PM EST</span>
                            </div>
                            <div class="tb2_comatition">
                                <span>West Bay Playoffs 2016</span>
                            </div>
                            <div class="tb2_comatition">
                                <span>Madison Cube Stadium</span>
                            </div>
                            <div class="tb2_ticket">
                                <a href="#" class="input-btn">Buy Game Ticket</a>
                            </div>
                        </li>
                        <li>
                            <div class="tb2_date">
                                <span>Friday, March 16</span>
                            </div>
                            <div class="versus">
                                <div>
                                    <span><img src="images/team_logo10.png" alt=""></span>
                                    <p>
                                        <a href="#">Ocean Kings</a>
                                        <span>Babop Institute</span>
                                    </p>
                                </div>
                            </div>
                            <div class="tb2_status">
                                <span>Home</span>
                            </div>
                            <div class="tb2_time">
                                <span>9:00PM EST</span>
                            </div>
                            <div class="tb2_comatition">
                                <span>West Bay Playoffs 2016</span>
                            </div>
                            <div class="tb2_comatition">
                                <span>Madison Cube Stadium</span>
                            </div>
                            <div class="tb2_ticket">
                                <a href="#" class="input-btn inactive">Sold out</a>
                            </div>
                        </li>
                        <li>
                            <div class="tb2_date">
                                <span>Friday, March 16</span>
                            </div>
                            <div class="versus">
                                <div>
                                    <span><img src="images/team_logo.png" alt=""></span>
                                    <p>
                                        <a href="#">Ocean Kings</a>
                                        <span>Babop Institute</span>
                                    </p>
                                </div>
                            </div>
                            <div class="tb2_status">
                                <span>Home</span>
                            </div>
                            <div class="tb2_time">
                                <span>9:00PM EST</span>
                            </div>
                            <div class="tb2_comatition">
                                <span>West Bay Playoffs 2016</span>
                            </div>
                            <div class="tb2_comatition">
                                <span>Madison Cube Stadium</span>
                            </div>
                            <div class="tb2_ticket">
                                <a href="#" class="input-btn ">Buy Game Ticket</a>
                            </div>
                        </li>
                        <li>
                            <div class="tb2_date">
                                <span>Friday, March 16</span>
                            </div>
                            <div class="versus">
                                <div>
                                    <span><img src="images/team_logo2.png" alt=""></span>
                                    <p>
                                        <a href="#">Ocean Kings</a>
                                        <span>Babop Institute</span>
                                    </p>
                                </div>
                            </div>
                            <div class="tb2_status">
                                <span>Home</span>
                            </div>
                            <div class="tb2_time">
                                <span>9:00PM EST</span>
                            </div>
                            <div class="tb2_comatition">
                                <span>West Bay Playoffs 2016</span>
                            </div>
                            <div class="tb2_comatition">
                                <span>Madison Cube Stadium</span>
                            </div>
                            <div class="tb2_ticket">
                                <a href="#" class="input-btn ">Buy Game Ticket</a>
                            </div>
                        </li>
                    </ul>
                    <!--Table 2 End-->
                    <!--Pagination Start-->
                    <div class="kode-pagination text-center">
                        <span class="page-numbers current">1</span>
                        <a class="page-numbers" href="#">2</a>
                        <a class="page-numbers" href="#">3</a>
                        <span class="page-numbers border_none">...</span>
                        <a class="page-numbers" href="#">18</a>
                        <a class="page-numbers" href="#">19</a>
                        <a class="page-numbers" href="#">20</a>
                    </div>
                    <!--Pagination End-->
                </div>
                <!--Overview Contant End-->
            </div>
        </section>
    </div>
    <!--Main Content Wrap End-->

{% endblock %}